<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    
    <!-- Home Tab -->
    <ion-tab-button tab="homepage" href="/tabs/homepage">
      <ion-icon name="home-outline"></ion-icon>
      <span>Home</span>
    </ion-tab-button>

    <!-- Menu / Rewards Tab -->
    <ion-tab-button tab="productlist" href="/tabs/productlist">
      <ion-icon name="gift-outline"></ion-icon>
      <span>Rewards</span>
    </ion-tab-button>

    <!-- Center QR Floating Action Button -->
    <ion-tab-button tab="cartpage" href="/tabs/cartpage" class="center-qr-tab">
      <div class="qr-fab-container">
        <ion-icon name="qr-code"></ion-icon>
      </div>
    </ion-tab-button>
    
    <!-- History Tab -->
    <ion-tab-button tab="transaction-history-page" href="/tabs/transaction-history-page">
      <ion-icon name="time-outline"></ion-icon>
      <span>History</span>
    </ion-tab-button>

    <!-- Profile Tab -->
    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person-outline"></ion-icon>
      <span>Profile</span>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>